spring.application.name=shop
# ==============================================================
# SERVER & API CONFIGURATION
# ==============================================================
server.port=
server.servlet.context-path=
server.servlet.multipart.max-file-size=
server.servlet.multipart.max-request-size=

# ==============================================================
# DATABASE CONFIGURATION (MySQL)
# ==============================================================
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=

# ==============================================================
# JPA & HIBERNATE CONFIGURATION
# ==============================================================
spring.jpa.hibernate.ddl-auto=
spring.jpa.show-sql=
spring.jpa.properties.hibernate.format_sql=
spring.jpa.database-platform=

# ==============================================================
# SPRING SECURITY & JWT (Custom Properties)
# ==============================================================
security.jwt.secret-key=
security.jwt.expiration-time=

# ==============================================================
# CLOUDINARY
# ==============================================================
cloudinary.url=
